*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0a0910;
    color: hsl(249, 28%, 85%);
    width: 100svw;
    height: 100svh;
    max-width: 100svw;
    max-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
